body {
    width: 80%;
    margin:0 auto;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
}

header{
    line-height: 10px;
    /*  display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;*/
}

header img{
    display: inline-block;
}

h1{
    font-size: 40px;
    margin-bottom: 100px;
}

#prev-meetup{
    margin: 40px auto;
}

#prev-meetup p {
    font-weight: bold;
    margin-top: 10px;
}

li{
    margin-bottom: 10px;
}

time{
    color: rgb(92, 94, 93);
    font-size: 1.2rem;
}

@media screen and (max-width:760px) {
    body{
        font-size: 18px;
    }
    h1{
        line-height: 50px;
        margin-bottom: 50px;
    }
    header{
        line-height: 30px;
        display: block;
    }
}
